body {
    background-color: #67a8c7; 
    text-align: center;
    font-family: "Robot", sans-serif;
}

#title {
    font-size: 15vw;
    font-family: "Lobster", cursive;
    margin: 0 0 25px 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

h4 {
    font-weight: normal;
    margin: 0;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#main-menu-controls {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
}

#quiz-settings {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 131px;
    margin: 0 auto;
    border-radius: 5px;
}

.orange-box {
    background-color: #fbc889;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 3px 1px -2px rgba(0,0,0,0.12);
    border-radius: 5px;
}

.red-box {
    background-color: #ff7871;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 3px 1px -2px rgba(0,0,0,0.12);
    border-radius: 5px;
    padding: 10px;
}

.green-box {
    background-color: #78BC43;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 3px 1px -2px rgba(0,0,0,0.12);
    border-radius: 5px;
    padding: 10px
}

.orange-box h2 {
    padding: 10px;
}

.header-label {
    margin: 0;
    padding: 5px;
}

#range-select {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
   padding-left: 15px;
   padding-right: 15px;
   margin-bottom: 10px;
}

#quiz-type-select {
    display: flex;
    gap: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

#menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
}

.number-input {
    width: 60px;
    border: none;
    background-color: #fcefe0;
    border-radius: 5px;
    padding: 7px;
}

#quiz-screen {
    display: none;
    gap: 20px;
}

#result-screen {
    display: none;
}

#flashcard-quiz-screen {
    display: none;
}

.header-div {
    border-radius: 5px 5px 0 0;
    background-color: #f79722;
}

.button {
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;

    color: black;
    background: linear-gradient(white, #cccccc);

    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 3px 1px -2px rgba(0,0,0,0.12);

    margin: 0 auto;
}

#correct-button {
    background: linear-gradient(#C9E6B2, #78BC43);
}

#wrong-button {
    background: linear-gradient(#f39B96, #f35047);
}

#answer-input {
    font-size: 25px;
    width: 100%;
    max-width: 400px;
    padding: 8px;
    border: none;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 3px 1px -2px rgba(0,0,0,0.12);
}

#flashcard-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 25px;
}

#flashcards-question-label-div {
    margin-bottom: 20px;
}

#flag-img {
    height: 120px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 3px 1px -2px rgba(0,0,0,0.12);
    margin-bottom: 20px;
}

#correct-label {
    padding: 15px;
}

.radio-button-label {
    display: inline-block;
}

@media screen and (min-width: 500px) {
    #title {
        font-size: calc(0.15 * 500px);
    }
}